name: Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: '1.22'
    - name: Vet
      run: go vet ./...
    - name: Lint
      uses: golangci/golangci-lint-action@v4
      with:
        version: latest
    - name: Test
      run: go test -v ./...
